:root {
  font-family: 'Lateef', sans-serif;
  direction: rtl;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0c0824;
  color: #ffffff;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
}

.mirza-regular {
  font-family: "Mirza", serif;
  font-weight: 400;
  font-style: normal;
}

.mirza-medium {
  font-family: "Mirza", serif;
  font-weight: 500;
  font-style: normal;
}

.mirza-semibold {
  font-family: "Mirza", serif;
  font-weight: 600;
  font-style: normal;
}

.mirza-bold {
  font-family: "Mirza", serif;
  font-weight: 700;
  font-style: normal;
}

.lateef-extralight {
  font-family: "Lateef", serif;
  font-weight: 200;
  font-style: normal;
}

.lateef-light {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
}

.lateef-regular {
  font-family: "Lateef", serif;
  font-weight: 400;
  font-style: normal;
}

.lateef-medium {
  font-family: "Lateef", serif;
  font-weight: 500;
  font-style: normal;
}

.lateef-semibold {
  font-family: "Lateef", serif;
  font-weight: 600;
  font-style: normal;
}

.lateef-bold {
  font-family: "Lateef", serif;
  font-weight: 700;
  font-style: normal;
}

.lateef-extrabold {
  font-family: "Lateef", serif;
  font-weight: 800;
  font-style: normal;
}

.scheherazade-new-regular {
  font-family: "Scheherazade New", serif;
  font-weight: 400;
  font-style: normal;
}

.scheherazade-new-medium {
  font-family: "Scheherazade New", serif;
  font-weight: 500;
  font-style: normal;
}

.scheherazade-new-semibold {
  font-family: "Scheherazade New", serif;
  font-weight: 600;
  font-style: normal;
}

.scheherazade-new-bold {
  font-family: "Scheherazade New", serif;
  font-weight: 700;
  font-style: normal;
}